html {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.score {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 12px;
  right: 24px;
  padding: 8px;
  font-size: 48px;
  font-weight: bold;
  color: #8e8e8e;
}

.score_best {
  right: unset;
  left: 24px;
  color: #8e8d3e;
}

.field {
  --tile-size: 48px;
  --padding-size: 6px;
  --base-color: #ffe38e;
  border-spacing: var(--padding-size);
  position: relative;
  user-select: none;
}

.field__cell {
  padding: 0px;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: beige;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
}

.field__tile-container {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.field__tile {
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 32px;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: var(--base-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.field__tile_appear {
  animation-name: scale-appear;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.field__tile-container_move {
  transition: transform 0.2s ease-in-out;
  z-index: 0;
}

.field__tile-container_destroy {
  animation-name: destroy;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes scale-appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  75% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes destroy {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.emoji {
  width: 100%;
  height: 100%;
}

.emoji:nth-child(1) {
  margin-right: -8px;
}

.emoji + .emoji {
  margin-left: -8px;
}

.field__buttons {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.field__replay-button,
.field__share-button {
  background-color: transparent;
  border: none;
  font-size: 72px;
}